@font-face {
  font-display:swap;
  font-family:ariana-pro-heavy;
  font-stretch:normal;
  font-style:normal;
  font-weight:900;
  src:url('/font.woff2') format("woff2");
}

* {
  &,
  &::before,
  &::after {
      box-sizing: border-box;
  }
}

html {
  font-size: clamp(16px,2.75vw,18px);
}

body {
  background: #fff;
  margin: 0;
  
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Fira Sans", sans-serif;

  line-height: 1.8;
  font-weight: 400;



  &::before,
  &::after {
    content: '';
    display: block;
    background-color: #be0000;
    height: 2em;
  }

}

a {
  color: currentcolor;
  text-underline-offset: 2px;

  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: ariana-pro-heavy,times;
  font-weight: 900;
  margin: 0 0 .75em;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: .88px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}


h3 {
  font-size: 1.25rem;
}


p {
  margin: 0 0 1.5em
}


ul {
  list-style: none outside;
  margin: 0 0 1em;
  padding-left: 0;
}